.allCities-container{
    min-height: 100vh;
    position: relative;
}

.allCities-container h1{
    text-align: center;
}


.allcities{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
gap: 2em;
width: 60%;
align-items: center;
align-content: center;
margin-left: 250px;
margin-top: 80px;
/* background-color: #CED3D8; */
}

.allcities-button{
    background-color: #FFFFFF;
    width: 110px;
    height: 45px;
    border-radius: 8px;
    border: 1px solid #CED3D8;
    cursor: pointer;
}

.allcities-button:hover{
    background-color: #3A5295;
    color: #FFFFFF;
    
}