.compare-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F6FAFD;
    padding: 20px;
    text-align: center;
}

.info-box{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 350px;
   height: 190px;
}

.info-box img{
    width: 20%;
}