.home-info-container{
    /* background-color: yellow; */
    /* border: 1px solid #CED3D8; */
    border-radius: 28px;
    width: 50%;
    
    
}
.container{
    border: 1px solid #CED3D8;
    height: 80%;

}


.home-address{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.hr{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    background-color: #CED3D8;
    border: 1px solid #CED3D8;
    margin-top: 20px;
}

.home-info-top{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    margin-top: 30px;
}

.info{
    display: flex;
    flex-direction: column;
    
}

.main{
    display: flex;
    justify-content: space-between;
}

.info-container{
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-top: 20px;
}

.home-button{
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}

.home-shortlist-button{
    width: 40%;
    border: 1px solid #CED3D8;
    background-color: white;
    border-radius: 7px;
    cursor: pointer;
}

.home-shortlist-button:hover {
    background-color: #3A5295;
    cursor: pointer;
}

.booking-button{
    width: 40%;
    border-radius: 7px;
    border: none;
    background-color: #3A5295;
    color: white;
    height: 40px;
    cursor: pointer;
}

.booking-button:hover{
    background-color: white;
    color: black;
    border: 1px solid #CED3D8;
}